# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
*.tar.gz
*synctex.gz
*-concordance.tex
*.log

/exercises/figure/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

